:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --gray-bg: #f5f4fa;
}

/*Reset*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.list {
  font-style: normal;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Header*/

.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
}

.contacts-link-list {
  display: flex;
  margin-left: auto;
}

.header-border {
  border: 1px solid #ececec;
}

/*Logo*/
.header-logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.accent {
  color: var(--primary-black-color);
}

/*Навигация сайта*/

.site-nav-list .link {
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 30px;
  padding-bottom: 30px;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
}

.site-nav-list .link.current {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

/*Контакты*/

.contacts-link-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link-list .link:hover,
.contacts-link-list .link:focus {
  color: var(--accent-color);
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

.link {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*-- Герой --*/
.hero {
  background-color: var(--background-color);
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/*Button hero*/

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  padding: 10px 32px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}
/*Принципы работы*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.principles {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.principles-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.principles-list .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/*Section title*/
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.section-description {
  color: var(--primary-text-color);
}

/*Чем мы занимаемся*/

.about {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.about-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-list .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/*Команда*/

.team-section {
  background-color: var(--gray-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-image {
  padding-bottom: 30px;
}
.card-heading {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
}

.card-text {
  color: var(--primary-text-color);
  text-align: center;
  padding-bottom: 30px;
}

/*Footer*/

.footer-contacts-list {
  text-decoration: none;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  padding-bottom: 20px;
}
.accent-footer {
  color: var(--primary-white-color);
}

address {
  font-style: normal;
}

.address-link {
  color: var(--primary-white-color);
  padding-bottom: 9px;
}

.footer-contacts .footer-link {
  color: #ffffff;
  opacity: 60%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  padding-bottom: 9px;
}

.footer-contacts .footer-link:hover,
.footer-contacts .footer-link:focus {
  color: var(--accent-color);
}

/*Radiobutton*/

.radiobutton {
  margin-bottom: 50px;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  margin-left: 8px;
}

.tab-btn {
  color: var(--title-text-color);
  background-color: var(--gray-bg);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;

  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.active,
.tab-btn:hover,
.tab-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*

.button {
  color: var(--title-text-color);
  background-color: var(--gray-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*Portfolio*/

.portfolio {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-content {
  border: 1px solid #eeeeee;
  width: 370px;
  height: 110px;
  padding: 20px 24px;
}

.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-subtitle {
  color: var(--primary-text-color);
  line-height: 1.87;
}
